    <footer class="footer">
      <div class="container">
          &copy; 2014-2015 &nbsp;&nbsp;| &nbsp;&nbsp;
          {{ site_name }} - 深圳市新房数据分析工具  by cheyo &nbsp;&nbsp; | &nbsp;&nbsp;
          <a href="###" data-toggle="tooltip" data-placement="top" title="" data-original-title="Email: icheyo at Gmail dot com">
            联系作者</a>&nbsp;&nbsp; 
      </div>
    </footer>

    <!-- 执行此js脚本的目的在于使上面的'联系作者'Tooltip生效. -->
    <script>
       $(function () 
         { 
            $("[data-toggle='tooltip']").tooltip(); 
         }
        );
    </script>
