<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ site_name }}</title>

    {% include 'inc_html/header_inc.html' %}

  </head>

  <body>

    {% include 'inc_html/navbar_inc.html' %}

    <div class="container">
        <ul class="breadcrumb">
          <li><a href="{% url 'site_index' %}">首页</a> <span class="divider">/</span></li>
          <li><a href="{% url 'datastat_trend' %}">数据统计</a> <span class="divider">/</span></li>
          <li class="active">开发商统计</li>
        </ul>
    </div>

    <div class="container tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">按总项目数据排名</a></li>
        <li><a href="#tab2" data-toggle="tab">按总房源数排名</a></li>
        <li><a href="#tab3" data-toggle="tab">按总面积排名</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">
          
          {% if company_stat_project %}
          <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr bgcolor="#0055CC" style="color:white">
                  <th style="vertical-align:middle; text-align:center;" class="span1">序号</th>
                  <th style="vertical-align:middle; text-align:center;" class="span3">开发企业</th>
                  <th style="vertical-align:middle; text-align:center;" class="span7">图形化展示</th>
                  <th style="vertical-align:middle; text-align:center;" class="span1">数量</th>
                </tr>
              </thead>
              <tbody>

            {% for company_stat in company_stat_project %}
            <tr>
              <td style="vertical-align:middle; text-align:center;">{{ forloop.counter }}</td>
              <td><a href="/company/{{ company_stat.company }}">{{ company_stat.company }}</a></td>
              <td style="vertical-align:middle; text-align:left;">
                <div class="progress progress-info" style="margin-bottom: 0px;">
                  <div class="bar" 
                    style="width: {% widthratio company_stat.project_count company_stat_project.0.project_count 100 %}%;"></div>
                </div>
              </td>
              <td style="vertical-align:middle; text-align:center;">{{ company_stat.project_count }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
               <td>no data</td> 
            </tr>
          {% endif %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="tab2">
          {% if company_stat_house %}
          <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr bgcolor="#0055CC" style="color:white">
                  <th style="vertical-align:middle; text-align:center;" class="span1">序号</th>
                  <th style="vertical-align:middle; text-align:center;" class="span3">开发企业</th>
                  <th style="vertical-align:middle; text-align:center;" class="span7">图形化展示</th>
                  <th style="vertical-align:middle; text-align:center;" class="span1">数量</th>
                </tr>
              </thead>
              <tbody>

            {% for company_stat in company_stat_house %}
            <tr>
              <td style="vertical-align:middle; text-align:center;">{{ forloop.counter }}</td>
              <td><a href="/company/{{ company_stat.company }}">{{ company_stat.company }}</a></td>
              <td style="vertical-align:middle; text-align:left;">
                <div class="progress progress-success" style="margin-bottom: 0px;">
                  <div class="bar" 
                    style="width: {% widthratio company_stat.house_count company_stat_house.0.house_count 100 %}%;"></div>
                </div>
              </td>
              <td style="vertical-align:middle; text-align:center;">{{ company_stat.house_count }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
               <td>no data</td> 
            </tr>
          {% endif %}
            </tbody>
          </table>
        </div>

        <div class="tab-pane" id="tab3">
          {% if company_stat_size %}
          <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr bgcolor="#0055CC" style="color:white">
                  <th style="vertical-align:middle; text-align:center;" class="span1">序号</th>
                  <th style="vertical-align:middle; text-align:center;" class="span3">开发企业</th>
                  <th style="vertical-align:middle; text-align:center;" class="span7">图形化展示</th>
                  <th style="vertical-align:middle; text-align:center;" class="span1">数量</th>
                </tr>
              </thead>
              <tbody>

            {% for company_stat in company_stat_size %}
            <tr>
              <td style="vertical-align:middle; text-align:center;">{{ forloop.counter }}</td>
              <td><a href="/company/{{ company_stat.company }}">{{ company_stat.company }}</a></td>
              <td style="vertical-align:middle; text-align:left;">
                <div class="progress progress-warning" style="margin-bottom: 0px;">
                  <div class="bar" 
                    style="width: {% widthratio company_stat.size_count company_stat_size.0.size_count 100 %}%;"></div>
                </div>
              </td>
              <td style="vertical-align:middle; text-align:center;">{{ company_stat.size_count }}</td>
            </tr>
            {% endfor %}
          {% else %}
            <tr>
               <td>no data</td> 
            </tr>
          {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
   
   {% include 'inc_html/footer_inc.html' %}

  </body>
</html>
