<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ site_name }}</title>

    {% include 'inc_html/header_inc.html' %}
    <script type="text/javascript" src="{{ STATIC_URL }}fusioncharts/js/fusioncharts.js"></script><!--引入主类库-->

  </head>

  <body>

    {% include 'inc_html/navbar_inc.html' %}

    <div class="container">
        <ul class="breadcrumb">
          <li><a href="{% url 'site_index' %}">首页</a> <span class="divider">/</span></li>
          <li><a href="{% url 'datastat_trend' %}">数据统计</a> <span class="divider">/</span></li>
          <li class="active">新房供应趋势</li>
        </ul>
    </div>

    <div class="container tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">按新增【住宅】房产统计</a></li>
        <li><a href="{% url 'datastat_trend_all' %}">按新增【所有】房产统计</a></li>
      </ul>
      <div class="tab-content" style="vertical-align:middle; text-align:center;">
        <div class="tab-pane active" id="tab1">
          <div id="chart_live_count"  class="container">图形加载中...</div>
          <div id="chart_live_size"  class="container">图形加载中...</div>
        </div>
        <div class="tab-pane" id="tab2">
          <div id="chart_all_count"  class="container">图形加载中...</div>
          <div id="chart_all_size"  class="container">图形加载中...</div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript">
      var chart_live_count = new FusionCharts("Column2D.swf", "ChartId1", "800", "400", "0", "0");
      chart_live_count.setDataURL("{% url 'trend_xml_live_count' %}");
      chart_live_count.render("chart_live_count");//将FusionCharts对象填充到指定的div标签处：render（div）
      //创建一个FusionCharts对象，第一个参数为swf文件的路径，第二个为id用来标识这个对象，第三个为宽度，第四个为高度
      //chart.setDataURL("data/data.xml");//xml文件

      var chart_live_size = new FusionCharts("Column2D.swf", "ChartId2", "800", "400", "0", "0");
      chart_live_size.setDataURL("{% url 'trend_xml_live_size' %}");
      chart_live_size.render("chart_live_size");//将FusionCharts对象填充到指定的div标签处：render（div）
    </script>
  
  {% include 'inc_html/footer_inc.html' %}

  </body>
</html>
